html, body {
  background-color: #333;
  color: #ccc;
  margin: 0;
  overflow-x: hidden;
}

a:visited {
  color: #f9f;
}

a {
  color: #99f;
}

header > nav {
  clear: both;
  width: 100%;
  background-color: #000;
  height: 1em;
  padding: 10px 0px;
  ul
  {
    list-style: none;
    margin: 0px 5px;
    padding: 0;
    float: left;
    li {
      display: block;
      float: left;
      margin: 0px 5px;
      text-transform: lowercase;
    }
    li.brand{
      font-weight: bold;
    }
  }
  ul.right {
    float: right;
  }
}

