$font-family-sans-serif:  'Oxygen', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       'Cardo', Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   'Oxygen Mono', Monaco, Menlo, Consolas, "Courier New", monospace;

$nightshade-blue: #232E33;
$softshade-blue: lighten($nightshade-blue, 75%);
$white: #FFF;

$background-color: $white;
$nav-background-color: $softshade-blue;
$color: #222;

html, body {
  background-color: $background-color;
  color: $color;
  margin: 0;
  overflow-x: hidden;
  font-family: $font-family-sans-serif;
  font-weight: 200;
  font-size: 5vmin;
  & > footer {
    margin: 20px;
  }
}

h1, h2, h3, h4, h5, h6, h7 {
  font-weight: 200;
  font-family: $font-family-serif;
}

main {
  margin-top: 80px;
  .callout {
    .tagline {
      display: table;
      margin: 0 auto;
    }
    h1 {
      font-size: 15vw;
      text-transform: lowercase;
      font-weight: 200;
      margin: 0px 0px;
      img {
        height: 12vw;
      }
    }
    img.logo {
      max-height: 40vh;
    }
    .subtitle {
      font-size: 3.5vmax;
      font-family: $font-family-sans-serif;
      &, & ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      & > li {
        clear: both;

      }
      & ul li {
        &:after {
          content: "/";
        }
        &:last-child:after {
          content: ""
        }
        float: left;
      }
    }
  }
  section {
    width: 100%;
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    &.box {
      display: inline-flex;
      &.margin {
        background-size: 80vw;
        background-position: 10vw 10vh;
        background-repeat: no-repeat;
        & > .content {
          margin-top: 35%;
          padding-bottom: 1em;
          background: none;
        }
      }
      & > .content {
        background-color: transparentize($nightshade-blue, 0.5);
        color: #FFF;
        padding: 10%;
        margin: auto;
        text-align: center;
      }
      & > blockquote.content {
        font-size: 3.65vmin;
        text-align: left;
        cite {
          font-size: 3vmin;
          font-style: normal;
          opacity: 0.80;
          float: right;
          .name {
            text-decoration: none;
            color: #F5EE31;
            font-weight: bold;
            opacity: 1.0;
          }
        }
      }
    }
    & > .content, & > header {
      margin: 20px;
    }
    &.inverse {
      background-color: $nightshade-blue;
      color: $white;
    }
    padding-bottom: 20px;
    header {
      h2 {
        text-align: center;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        text-transform: lowercase;
      }
    }
  }
}

a:visited {
  color: #f9f;
}

a {
  color: #99f;
}
 
header > nav {
  position: fixed;
  clear: both;
  width: 100%;
  background-color: $nav-background-color;
  height: 1em;
  padding: 10px 0px;
  z-index: 100;
  ul
  {
    list-style: none;
    margin: 0px 5px;
    padding: 0;
    float: left;
    li {
      display: block;
      float: left;
      margin: 0px 10px;
      text-transform: lowercase;
      a {
        color: #A81929;
        &:visited {
          color: #C21327;
        }
      }
    }
    li.brand{
      a {
        color: #000;
        img {
          height: 0.85em;
        }
      }
    }
  }
  ul.right {
    float: right;
  }
  a {
    text-decoration: none;
  }
}

.margin > main {
  margin: 70px 20px 20px;
}
