html, body {
  background-color: #333;
  color: #ccc;
  margin: 0;
  overflow-x: hidden;
  color: #FFF;
  ul.right {
    float: right;
  }
  a {
    text-decoration: none;
  }
}

main {
  margin-top: 40px;
}