$font-family-sans-serif:  'Oxygen', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       'Cardo', Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   'Oxygen Mono', Monaco, Menlo, Consolas, "Courier New", monospace;

$nightshade-blue: #232E33;
$softshade-blue: lighten($nightshade-blue, 50%);
$white: #FFF;

$background-color: $white;
$nav-background-color: $nightshade-blue;
$color: #222;

html, body {
  background-color: $background-color;
  color: $color;
  margin: 0;
  overflow-x: hidden;
  font-family: $font-family-serif;
  font-weight: 200;
}

main {
  margin: 40px;
  margin-top: 80px;
  .callout {
    h1 {
      text-align: center;
      font-size: 15vw;
      text-transform: lowercase;
      font-weight: 200;
    }
    img {
      max-height: 40vh;
    }
  }
}

footer {
  margin: 40px;
}

a:visited {
  color: #f9f;
}

a {
  color: #99f;
}
 
header > nav {
  position: fixed;
  clear: both;
  width: 100%;
  background-color: $nav-background-color;
  height: 1em;
  padding: 10px 0px;
  z-index: 100;
  ul
  {
    list-style: none;
    margin: 0px 5px;
    padding: 0;
    float: left;
    li {
      display: block;
      float: left;
      margin: 0px 10px;
      text-transform: lowercase;
    }
    li.brand{
      font-weight: bold;
      a {
        color: #FFF;
      }
    }
  }
  ul.right {
    float: right;
  }
  a {
    text-decoration: none;
  }
}

main {

}
