@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

/*
/// Replace `$search` with `$replace` in `$string`
/// @author Hugo Giraudel
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  
  @return $string;
}

$fonts-path: '/assets/fonts/';

$font-family-name: 'Avera Sans';
$font-family-name-ttf-prefix: str-replace($font-family-name, ' ', '-');
$font-family-name-prefix: to-lower-case($font-family-name-ttf-prefix);
$font-path: $fonts-path + str-replace($font-family-name, ' ', '-');

$ttf-extension: 'ttf';
$eot-extension: 'eot';
$woff-extension: 'woff';
$woff2-extension: 'woff2';

$webfont-suffix: 'webfont';

$ttf-light-suffix: 'Lt';
$light-suffix: to-lower-case($ttf-light-suffix);

$ttf-regular-suffix: 'Rg';
$regular-suffix: to-lower-case($ttf-regular-suffix);

$ttf-bold-suffix: 'Bld';
$bold-suffix: to-lower-case($ttf-bold-suffix);

$ttf-cn-light-suffix: 'Cn-Lt';
$cn-light-suffix: to-lower-case($ttf-cn-light-suffix);

$ttf-cn-regular-suffix: 'Rg';
$cn-regular-suffix: to-lower-case($ttf-cn-regular-suffix);

$ttf-cn-bold-suffix: 'Cn-Bld';
$cn-bold-suffix: to-lower-case($ttf-cn-bold-suffix);
*/

html, body, input, button {
  font-family: 'Raleway', sans-serif;
}

html, body {
  background-color: #333;
  color: #FFF;
  margin: 0;
  nav {
    overflow: auto;
    background-color: #000;
    padding: 10px;
    a {
      color: #FFF;
      text-decoration: none;
      font-weight: 700;
    }
    form {
      float: right;
      margin: 0px 10px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-right: 10px;
      overflow: auto;
      float: left;
      display: block;
      &:last-of-type  {
        float: right;
      }
      li {
        float: left;
        display: block;
        margin-right: 10px;
        img {
          margin: -0.15em 5px -0.15em 0px;
          height: 1.0em;
        }
        &.brand a{
          font-weight: 900;

        }
      }
    }
  }
  main {
    margin: 40px 10px 20px;
    display: block;
    clear: both;
    .callout {
      display: table;
      margin: auto;
      & > * {
        float: left;
        height: 100%;
      }
      form {
        display: table-cell;
        vertical-align: middle;
        padding: 10px;
        button,input {
          font-size: 14pt;
          padding: 10px;
          margin: 10px;
          clear: both;
          border: none;
          @include border-radius(5px);
          display: block;

        }
        button {
          margin-bottom: 0px;
        }
        input {

          width: 100%;
          &:first-child {
            margin-top: 0;
          }
        }
        margin: auto;
      }
      img.logo {
        height: 50vmin;
        display: block;
        margin: auto;
      }
      .tagline {
        text-align: center;
        width: 100%;
        #title-header {
          font-size: 64pt;
          margin: 8pt auto;
          font-weight: 900;
        }
      }
    }
  }
  footer {
    margin: 20px 10px;
  }
}