
<form role="form">
<h1><span>Confirm Your Account</h1>
  <input type="text" id="name" placeholder="Username" data-char="[a-z0-9-]" pattern="^[a-z0-9-]{5,15}$" data-error="The username must be at least 5 characters." required readonly>
  <input type="password" id="secret" data-char="[\S]" placeholder="Confirmation Code" required>
  <input type="email" class="form-control" id="email" placeholder="Email Address" required readonly>
  <input type="hidden" id="key" required>
  <p>
    <button type="button" id="register" disabled>Confirm</button>
    <a class="button inactive" href="/#" id="cancel">Cancel</a>
  </p>
</form>