
<form role="form">
<h1><span>Create Account</span><span class="inactive">Login</span></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
  <input type="text" id="userName" placeholder="Username" data-char="[a-z0-9-]" pattern="^[a-z0-9-]{5,15}$" data-error="The username must be at least 5 characters." required>
  <input type="password" class="form-control" id="password" data-char="[\S]" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" data-error="This password must contain one upper case, one lower case, one digit, and a punctuation mark and at least 8 characters." placeholder="Password" required>
  <div id="registration">
  <input type="password" class="form-control" id="confirmPassword" data-char="[\S]" data-match="#password" placeholder="Confirm Password" required>
  <input type="email" class="form-control" id="email" placeholder="Email Address" required>
  </div>
  <p>
    <button type="button" id="register" disabled>Register</button>
    <button type="button" class="inactive" id="signin">Sign in</button>
  </p>
</form>