@font-face {
  font-family: 'Swindale';
  src: url('/assets/fonts/swindale/swindale-rg-webfont.eot');
  src: url('/assets/fonts/swindale/swindale-rg-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/swindale/swindale-rg-webfont.woff2') format('woff2'),
  url('/assets/fonts/swindale/swindale-rg-webfont.woff') format('woff'),
  url('/assets/fonts/swindale/Swindale-Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}