---
title: tagmento - What have you been upto lately?
---
<!--Banner-->
<section id="banner">
  <div class="content">
    <header>
      <h2>What have you been up to lately?</h2>
      <p>
        How do you know if your <strong>life is balanced</strong>?
        <br />
        How do you know if your <strong>time is meaningful</strong>?
      </p>
      <br>
      <form action="#" class="container" method="post">
        <div class="row uniform 50%">
          <div class="8u 12u$(xsmall)">
            <input type="email" name="email" id="email" placeholder="Your Email Address">
          </div>
          <div class="4u$ 12u$(xsmall)"><input type="submit" value="Get Started" class="fit special"></div>
        </div>
      </form>
    </header>
  </div>
</section>
<section class="wrapper special" id="two">
  <div class="container">
    <header class="major">
      <h2>tagmento</h2>
      <p>Consistently track your time so you can see how you spend your time and where you need to focus your attention.</p>
    </header>
    <div class="box alt">
      <div class="row uniform">
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-area-chart"></span>
									<h3>Visualize Your Time</h3>
									<p>See how actually spend your time and how progress has been made.</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-comment"></span>
									<h3>Stay on top of your tracking</h3>
									<p><strong>Tagmento</strong> will keep you on top of your tracking and
                    let you know about calendar events, location changes, or whether you've idle.</p>
								</section>
								<section class="4u$ 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-usd"></span>
									<h3>Track the value of your time</h3>
									<p>What is the value of your time as enterpenenur, father, mother, employee?
                    Whether you measure your time in dollar, pounds, or just doing the things
                    you really want to do?</p>
								</section>
							</div>
    </div>
    <footer class="major">
      <ul class="actions">
        <li>
          <a class="button" href="#"> Sign me up!</a>
        </li>
      </ul>
    </footer>
  </div>
</section>
<!--Five-->
<section class="wrapper style2 special" id="five">
  <div class="container">
    <header>
      <h2>Stay Informed</h2>
      <p>Do you want to know and stay notified of releases, betas, and upcoming features?</p>
    </header>
    <form action="#" class="container 50%" method="post">
      <div class="row uniform 50%">
        <div class="8u 12u$(xsmall)">
          <input type="email" name="email" id="email" placeholder="Your Email Address">
        </div>
        <div class="4u$ 12u$(xsmall)"><input type="submit" value="Get Started" class="fit special"></div>
      </div>
    </form>
  </div>
</section>
