---
title: tagmento - Do you know what have you done today?
---
<!--Banner-->
<section id="banner">
  <div class="content">
    <header>
      <h2>Do you know what have you done today?</h2>
      <p>
        <!--Whether you are a <strong>mother, father, enterpenenur, or employee</strong>, <br> --><strong>TagMento</strong> helps you track your time <strong>intelligently</strong> <br>based on <strong>where you are</strong> and <strong>what you have planned</strong>.<br>
        Signup below to <strong>receive exclusive news</strong> on releases.
      </p>
      <br>
      <div>
        <form action="//brightdigit.us12.list-manage.com/subscribe/post-json?u=cb3bba007ed171091f55c47f0&amp;id=cf3c663219" class="container signup-form" method="post">
          <div class="row uniform 50%">
            <div class="8u 12u$(xsmall)">
              <!--<input type="email" name="email" id="email"> -->
              <input type="email" placeholder="Your Email Address" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="4u$ 12u$(xsmall)"><input type="submit" value="Get Started" class="fit special"></div>
          </div>
        </form>
      </div>
    </header>
  </div>
  <a href="#one" class="goto-next scrolly">Next</a>
</section>
<section class="wrapper special" id="one">
  <div class="container">
    <header class="major">
      <h2>tagmento</h2>
      <p>Consistently track your time so you can see <strong>how you spend it</strong> and where you need to <strong>focus your attention.</strong></p>
    </header>
    <div class="box alt">
      <div class="row uniform">
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-pie-chart"></span>
									<h3>Visualize Your Time</h3>
									<p>See how you <strong>actually spend your time</strong> and how progress has been made. Get reports so you can see how improve your time management.</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-comment"></span>
									<h3>Stay Up-To-Date</h3>
									<p><strong>Tagmento</strong> will <strong>keep you on top of your tracking</strong> and
                    let you know about:
                    <i class="fa fa-calendar"></i> <strong>calendar events</strong>,
                    <i class="fa fa-map-marker"></i> <strong>location changes</strong>,
                    <i class="fa fa-clock-o"></i> <strong>timely reminders</strong>.</p>
								</section>
								<section class="4u$ 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-usd"></span>
									<h3>Evaluate Your Time</h3>
									<p>
                    How do you <strong>measure the value of your time</strong>? Whether you value it in dollars, pounds or just doing the things you really want to do, Tagmento’s here for you. We get it.
                    </p>
								</section>
                <section class="4u 6u(medium) 12u$(xsmall)">
                  <span class="icon alt major fa-child"></span>
                  <h3>Mom or Dad?</h3>
                  <p>Do you want to track <strong>activities with your kids</strong>?</p>
                </section>
                <section class="4u 6u$(medium) 12u$(xsmall)">
                  <span class="icon alt major fa-briefcase"></span>
                  <h3>Entrepenuer or Freelancer?</h3>
                  <p>How much time are you spending with your <strong>clients</strong> or your new <strong>product ideas</strong>?</p>
                </section>
                <section class="4u$ 6u(medium) 12u$(xsmall)">
                  <span class="icon alt major fa-automobile"></span>
                  <h3>Employee or Commuter?</h3>
                  <p>Do you need to track your <strong>milage</strong> or just your <strong>hours at work</strong>?</p>
                </section>
							</div>
    </div>
    <footer class="major">
      <ul class="actions">
        <li>
          <a class="button" href="#"> Sign me up!</a>
        </li>
      </ul>
    </footer>
  </div>
</section>
<!--Five-->
<section class="wrapper style2 special" id="two">
  <div class="container">
    <header>
      <h2>Stay Informed</h2>
      <p>Do you want to know and stay notified of releases, betas, and upcoming features?</p>
    </header>
    <form action="//brightdigit.us12.list-manage.com/subscribe/post-json?u=cb3bba007ed171091f55c47f0&amp;id=cf3c663219" class="container 50% signup-form" method="post">
      <div class="row uniform 50%">
        <div class="8u 12u$(xsmall)">
          <!--<input type="email" name="email" id="email"> -->
          <input type="email" placeholder="Your Email Address" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="4u$ 12u$(xsmall)"><input type="submit" value="Get Started" class="fit special"></div>
      </div>
    </form>
  </div>
</section>
