        
        <section>
          <header><h1>phragm</h1></header>
          <p>
          Simplicity through Organization
          </p>
          <p>
          <a class="button" href="/#login">Sign Up/Sign in</a>
          </p>
        </section>
        <section>
          <ul>
            <li>
              <section>
                <header>Nullam dictum</header><p> felis eu pede mollis pretium.</p>
              </section>
            </li>
            <li>
              <section>
                <header>Integer tincidunt</header><p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>  
              </section> 
              </li><li>
              <section>
                <header>Cras dapibus.</header>
                <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
              </section>             </li><li>
              <section>
                <header>Nam eget dui.</header>
                <p>Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>
              </section>             
            </li>
          </ul>
        </section>
        <section>
          <header><h2>Integer tincidunt.</h2></header>
          <p>Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>
        </section>
         <section>
          <ul>
            <li>
              <section>
                <header>Nullam dictum</header><p> felis eu pede mollis pretium.</p>
              </section>
            </li>
            <li>
              <section>
                <header>Integer tincidunt</header><p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>  
              </section> </li><li>
              <section>
                <header>Cras dapibus.</header>
                <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
              </section>          </li><li>   
              <section>
                <header>Nam eget dui.</header>
                <p>Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>
              </section>             
            </li>
          </ul>
        </section>
        <section>
          <header><h2>Integer tincidunt.</h2></header>
          <p>Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>
          <p>
          <a class="button" href="/#login">Sign Up/Sign in</a>
          </p>
        </section>